/*global */

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

body, a, p {
    font-family: Arial, sans-serif;
}

a {
    font-size: 13px;
    text-decoration: none;
    color: black;
}


/*Nav bar*/

.Gapps {
  
    height: 21px;
  }
  
  header ul li {
      display: block; /*remove bullets*/
      float: right; /*horizontal bar*/
      padding: 8px;
  }
  
  .left-nav{
  
      float: left;
   } 
  
   .right-nav{
       float: right;
   }

   /*main*/

main {
    text-align: center;
}

.logo {
    margin: auto;
}

.search input{
    border: 1px solid #dadce0;
    border-radius: 50px;
    padding: 8px;
}

.search-button button {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-top: 8px;
    padding: 8px;
    background-color:rgb(242, 242, 242);
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    color: #222;
}

/* FOOTER */
footer{
    margin: auto 0px 0px 0px;
    padding: 0;
    background-color:rgb(242, 242, 242);
}

footer li {
    display: block;
    float: right;
    padding: 8px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}